
.heart {
    margin: 200px;
    background-color: red;
    height: 200px;
    transform: rotate(-45deg);
    width: 200px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    -webkit-animation: pulsa 1s linear 0s infinite;
    

}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.heart:before {
    top: -100px;
}

.heart:after {
    left: 100px;
}

@keyframes pulsa {
    0% {
      transform: scale(0.9) rotate(0deg);
    }
    50% {
      transform: scale(1) rotate(0deg);
    }
    70% {
      transform: scale(1.1) rotate(0deg);
    }
    80% {
      transform: scale(1.2) rotate(0deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

  .square {
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
  }
  .circle:after,
  .circle:before {
    content: "";
    position: absolute;
    width: 54px;
    height: 55px;
    border-radius: 50%;

  }
  .circle:after {
    left: 5px;
    top: 6px;
  }
  .circle:before {
    right: 5px;
    top: 6px;
  }



body {
    background-color: #FAF1E6 ;
}


.heart1 {
    margin: 200px;
    background-color: white;
    height: 200px;
    border-width: 1px;
    transform: rotate(-45deg);
    width: 200px;
    position: relative;
    display: inline-block;
    margin-right: 5px;  
    -webkit-animation: pulsa 1s linear 0s infinite;
     

}

.heart1:before,
.heart1:after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.heart1:before {
    top: -100px;
}

.heart1:after {
    left: 100px;
}



.heart2 {
    margin: 200px;
    background-color: gold;
    height: 200px;
    transform: rotate(-45deg);
    width: 200px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    -webkit-animation: pulsa 1s linear 0s infinite;
    
  
   

}

.heart2:before,
.heart2:after {
    content: "";
  background-color: gold;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;



}

.heart2:before {
    top: -100px;
}

.heart2:after {
    left: 100px;
}













